.app {
    width: 100%;
    background-color: rgb(154, 196, 198);
}

.login-form {
    width: 30rem;
    margin-top: 8rem !important;
}

.table-data {
    padding-top: 6rem;
    padding-bottom: 2rem;
    width: 100%;
}

.navbar {
    background-color: #e3f2fd;
}

.modal-content {
    width: 40rem !important;
}

.modal-dialog {
    margin-left: 20rem !important;
}

.tag {
    font-size: 0.8rem;
}

.paginate_button {
    background-color: transparent !important;
    border: 0 !important;
    border-radius: 1rem !important;
    margin-right: 0.5rem !important;
    padding: 0.8rem !important;
}

.paginate_button:active,
.paginate_button:hover,
.paginate_button.current:hover {
    background-color: transparent !important;
    font-weight: bold !important;
}